.edit-income1 {
  position: absolute;
  top: 0;
  left: 1px;
  font-size: var(--font-size-xl);
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  width: 135px;
  height: 25.5px;
}
.type-income-button {
  position: absolute;
  top: 50.5px;
  left: calc(50% - 199.5px);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 400px;
  height: 54.7px;
}
.income,
.monthly-income-input {
  font-weight: 300;
  font-family: var(--font-outfit);
  font-size: var(--font-size-9xl);
  position: absolute;
}
.income {
  top: calc(50% - 72.4px);
  left: 23px;
  color: var(--color-black);
  text-align: left;
}
.monthly-income-input {
  border: 2px solid var(--color-black);
  background-color: transparent;
  top: 130.3px;
  left: calc(50% - 200.5px);
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 400px;
  height: 54.7px;
}
.button,
.edit {
  position: absolute;
}
.button {
  top: -2px;
  left: calc(50% - 202px);
  border-radius: var(--br-3xs);
  background-color: var(--color-gold);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 404px;
  height: 58.7px;
}
.edit {
  top: calc(50% - 14.35px);
  left: calc(50% - 35px);
  font-size: var(--font-size-5xl);
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
}
.add-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 210px;
  left: calc(50% - 199.5px);
  width: 400px;
  height: 54.7px;
}
.edit-income {
  position: absolute;
  top: 33px;
  left: 24px;
  width: 401px;
  height: 264.8px;
}
.income-body {
  position: absolute;
  bottom: -1.5px;
  left: -1.5px;
  border-radius: var(--br-3xs);
  border: 3px solid var(--color-black);
  box-sizing: border-box;
  width: 453px;
  height: 361px;
}
.income-div,
.income-heading {
  position: absolute;
  width: 450px;
}
.income-heading {
  margin: 0;
  top: 0;
  left: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  height: 65px;
}
.income-div {
  bottom: 429px;
  left: 283px;
  height: 452px;
}
.body-div {
  position: absolute;
  top: 251px;
  left: 51px;
  width: 1017px;
  height: 881px;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.edit-incomeexpense {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1134px;
  overflow: hidden;
}
