{% extends "layout.html" %}

{% block title %}
    Add Mutual Funds
{% endblock %}

{% block main %}
<link rel="stylesheet" href="./static/add-stocks.css" />
<form class="add-stocks-form" action="/add-mf" method="post">
    <button class="save-mf-button" type="submit">
      <div class="save">SAVE</div>
    </button>
    <div class="quantity">
      <div class="enter-a-valid">{{ priceofmf }}</div>
      <input
        autocomplete="off"
        autofocus
        class="price-input"
        name="priceofmf"
        placeholder="Price of MF"
        type="number"
      />
    </div>
    <div class="classifications">
      <div class="choose-one-of">{{ quantity }}</div>
      <input
        autocomplete="off"
        autofocus
        class="price-input"
        name="quantity"
        placeholder="Quantity"
        type="number"
      />
    </div>

    <div class="stockname">
      <div class="choose-one-of">{{ mfname }}</div>
      <input
        autocomplete="off"
        autofocus
        class="price-input"
        name="mfname"
        id="mfname"
        placeholder="Mutual Fund name"
        type="text"
      />
    </div>
  </form>
{% endblock %}
